@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,200;0,400;1,200&family=Poppins:wght@200;400&display=swap');
 
/* BODY______________________________________________ */
:root {
  font-size: 16px;
  font-family: 'Epilogue', sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #0A6ABF;
  --bg-secondary: #F2B90C;
  --transition-speed: 350ms;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: #687DA6;
}

body::-webkit-scrollbar-thumb {
  background: #0B47BF;
}

/* MAIN______________________________________________ */

main {
  margin-left: 5rem;
  padding: 1rem;
}

header {
  font-size: 3rem;
  text-align: center;
  color: white;
  padding: 0.7rem;
  background: linear-gradient(#0A58BF ,#687DA6);
}

button {
  background: #0A58BF;
  color: rgb(223, 223, 253);
  border-radius: 2px;
  padding: 0.3rem;
  cursor: pointer;
}

button:hover {
  color: white;
  box-shadow: 1px 1px 3px;
}

table {
  border-bottom: 1px solid;
  width: 100%;
}

th {
  text-align: left;
  border-bottom: 1px solid;
}

.tools {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}


/* NAVBAR______________________________________________ */

.navbar {
  position: fixed;
  top: 6rem;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
}

.navbar:hover {
  width: 12rem;
  box-shadow: 1px 1px 3px;
}

.navbar:hover .link-text {
  display: block;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: white;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.link-text:hover {
  display: right;
  margin-left: 1rem;
  cursor: pointer;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  fill: #ffffff;
}


/* LINKS______________________________________________ */

.link {
  font-size: 14px;
  text-decoration: none;
  padding: 10px;
}

.studyLink {
  text-decoration: none;
}

.pLink {
  text-decoration: none;
  display: table-row;
}

.pLink:hover {
  box-shadow: 0px 0px 2px black;
  cursor: pointer;
  color: black;
}



