@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,200;0,400;1,200&family=Poppins:wght@200;400&display=swap');
 
/* BODY______________________________________________ */
:root {
  font-size: 16px;
  font-family: 'Epilogue', sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #0A6ABF;
  --bg-secondary: #F2B90C;
  --transition-speed: 350ms;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: #687DA6;
}

body::-webkit-scrollbar-thumb {
  background: #0B47BF;
}

/* MAIN______________________________________________ */

main {
  margin-left: 5rem;
  padding: 1rem;
}

header {
  font-size: 3rem;
  text-align: center;
  color: white;
  padding: 0.7rem;
  background: linear-gradient(#0A58BF ,#687DA6);
  border-radius: 1px;
}

button {
  background: #0A58BF;
  color: rgb(223, 223, 253);
  border-radius: 2px;
  padding: 0.3rem;
  cursor: pointer;
}

button:hover {
  color: white;
  box-shadow: 1px 1px 3px;
}

table {
  margin-top: .5rem;
  margin-left: .5rem;
  border-bottom: 1px solid;
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  border-bottom: 1px solid;
  background: white;
}

.t-sort {
  width: 100%;
}

td {
  padding: 10px;  
}

tr:nth-child(odd) {
  background: #cfdfff;
}

.tools {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  margin-right: 2rem;
  margin-left: 2rem;
}

.study-card {
  list-style: none;
  border: solid 1px #687DA6;
  border-radius: 3px;
  padding: 0.5rem;
  margin: 5px;
  margin-right: 3rem;
  background: #cfdfff;
}

.study-card:hover {
  box-shadow: 1px 1px 3px #687DA6;
  padding: 0.55rem;
}

.content1-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.1)) , url("https://images.unsplash.com/photo-1606206873764-fd15e242df52?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  min-height: 15rem;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-shadow: 1px 1px 3px black;
  padding: 5rem;
  font-size: 1.5rem;
  margin-top: .6rem;
}

.home-text {
  font-size: 1.4rem;
}

.content2{
  margin: 5px;
  margin-right: 3rem;
  padding-left: 2.5rem;
}


/* NAVBAR______________________________________________ */

.navbar {
  position: fixed;
  top: 6rem;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
}

.navbar:hover {
  width: 12rem;
  box-shadow: 1px 1px 3px;
}

.navbar:hover .link-text {
  display: block;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: white;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.link-text:hover {
  display: right;
  margin-left: 1rem;
  cursor: pointer;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  fill: #ffffff;
}


/* LINKS______________________________________________ */

.link {
  font-size: 14px;
  text-decoration: none;
  padding: 10px;
}

.studyLink {
  text-decoration: none;
}

.pLink {
  text-decoration: none;
  display: table-row;
}

.pLink:hover {
  box-shadow: 0px 0px 2px black;
  cursor: pointer;
  color: black;
}

/* FORMS______________________________________________ */
.form1 {
  margin-top: 1.3rem;
  padding: 1.5rem;
  background: #cfdfff;
  border-radius: 3px;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.form1 > input {
  width: 70%;
  margin: 8px 8px;
  border: 1px solid #54539e;
  border-radius: 4px;
  box-sizing: border-box;
}

.form1 div {
  padding: 1rem;
}

.form1-input1 {
  width: 90%;
  display: flex;
}

.form1-input2 {
  width: 90%;
  height: 10rem;
}

.form-label {
  display: flexbox;
  width: 20rem;
  text-align: left;
}


